<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Welcome to the SECA Homepage</h1>
    <h2>(Shows & Events Chelas Application)</h2>

    <h3>Navigation:</h3>
    <ul>
        <li><h3>Events</li></h3>
        <ul>
            <li><a href="/seca/eventsByNameForm.html">Search Events by Name</a></li>
            <li><a href="/seca/popularEventsForm.html">Most Popular Events</a></li>
        </ul>
        <li><h3>Groups</h3></li>
        <ul>
            <li><a href="/seca/groups">List Groups</a></li>
            <li><a href="/seca/createGroupForm.html">Create Group</a></li>
        </ul>
        <li><h3>User</h3></li>
        <ul>
            <li><a href="/seca/users">Create User</a></li>
        </ul>
    </ul>
</body>
</html>
