<!DOCTYPE html>
<html>
    <head>
        <title>Group List</title>
    </head>
    <body>
        <h1>Group List</h1>
        <p><button onclick="location.href='/seca/home.html'">Return to homepage</button></p>        
        {{#unless groups}}
            <p>You don't have any groups yet.</p>
        {{/unless}}
        {{#each groups}}
        <section>
            <h2><a href="/seca/groups/{{id}}">{{name}}</a></h2>
            <p><strong class="title-label">Description:</strong> {{description}}</p>
        </section>
        {{/each}}
        <p><button onclick="location.href='/seca/home.html'">Return to homepage</button></p>   
    </body>
</html>