<!DOCTYPE html>
<html>
    <head>
        <title>Group List</title>
    </head>
    <body>
        <h1>Group List</h1>
        <p><button onclick="location.href='/seca/home.html'">Homepage</button></p>  
        <p><button onclick="location.href='/seca/createGroupForm.html'">Create a group</button></p>   
        {{#unless groups}}
            <p>You don't have any groups yet.</p>
            <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTdpdHFid3Y5eWtvYW40bmkya3JmYjhqM2Rub3J3MXRqd2N0aG9vYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VBfFv9oOZAvvi/giphy.gif">
        {{/unless}}
        {{#each groups}}
        <section>
            <h2><a href="/seca/groups/{{id}}">{{name}}</a></h2>
            <p><strong class="title-label">Description:</strong> {{description}}</p>
        </section>
        {{/each}}
    </body>
</html>