<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Login</h1>
        <form method="GET" action="/seca/users">
            <p>Insert username: <input type="text" username="name" required></p>
            <p>Insert token: <input type="text" username="token" required></p>
            <input type="submit" value="Login">
        </form>
        <p><button onclick="location.href='/seca/home.html'">Return to homepage</button></p>
    </body>
</html>