<!DOCTYPE html>
<html>
    <head>
        <title>New Group Created</title>
    </head>
    <body>
        <h1>New Group Details</h1>
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Description:</strong> {{description}}</p>
    </body>
</html>