<!DOCTYPE html>
<html>
    <head>
        <title>Get Popular Events</title>
    </head>
    <body>
        <h1>Get Popular Events</h1>
        <form method="GET" action="/seca/events/popular">
            <p>Size: <input type="number" name="size" min="1"></p>
            <p>Page: <input type="number" name="page" min="1"></p>
            <input type="submit" value="Get Popular Events">
        </form>
        <p><button onclick="location.href='/seca/home.html'">Return to Homepage</button></p>
    </body>
</html>